<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/d28415ff34.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="nav">
            <div class="head">
                <img src="" alt="LOGO">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    {% if user %}
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="copy">
            <p>&copy; 2025 Broadband Service App. All rights reserved.&nbsp;</p>
            <p>Contact us: <a href="mailto:tharunmbecse@gmail.com">tharunmbecse@gmail.com</a></p>
        </div>
        <div class="mediaLink">
            <ul>
                <li>
                    <a href="https://github.com/Tharun-Offi" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tharun-offi/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/draco_gamer_tharun/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>